﻿<h2>Basic document printing</h2>
@using (Html.BeginForm ("Index",  
    "Print",  
    FormMethod.Post,  
    new { enctype = "multipart/form-data" }))  
{                    
    <label for="file">Print file:</label>  
    <input type="file" name="file" id="file" accept="application/pdf"/><br><br>  
    <label for="client">Client id:</label>  
    <input type="text" name="client" id="client" value=@ViewBag.client /><br><br>
    <input type="submit" value="Print file"/>  
    <br><br>  
    @ViewBag.Message  
}